#
# Documentation is here: http://git-scm.com/docs/gitignore
#
/unpack/
/idMyGadget
/tmp/
#
# I like to switch between vim, eclipse, and netbeans
#
*.swp
.buildpath
.project
/nbproject/

js/ProfessionalExperience.js
js/Resume.js
