/*
 * General site-wide styles for iPhones
 * Based on a style sheet from Chapter 2 of Building iPhone Apps by Jonathan Stark (O'Reilly)
 * This file is virtually identical to androidPhone.css, and that is OK.
 */
body {
	background-color: #ddd;
	color: #222;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;    /* Leave as px for now ... */
	margin: 0.0em;
	padding: 0.0em;
}
/*
 * Header styles
 */
#header h1 {
	margin: 0.0em;
	padding: 0.0em;
}
#header h1 a {
	background-color: #ccc;
	border-bottom: 1px solid #666;
	color: #222;
	display: block;
	font-size: 20px;    /* Leave as px for now ... */
	font-weight: bold;
	padding: 0.625em 0.0em;
	text-align: center;
	text-decoration: none;
}
h2 {
	font-size: 1.5em;
}
/*
 * Navigation
 */
#header ul {
	list-style: none;
	margin: 0.625em;
	padding: 0;
}
#header ul li a {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	color: #222222;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: -1px;
	padding: 0.75em 0.625em;
	text-decoration: none;
}
/*
 * Indent content a tad bit from the edge
 */
#content {
	padding: 0.625em;
}
/*
 * Niceties: drop shadow for header text and gradient for header background
 * Note: gradient can be used anywhere in lieu of a URL
 *    type: linear (or radial)
 *    start: left top (or left bottom, right top, or right bottom)
 *    end: left bottom (or left top, right top, or right bottom)
 *    start color and end color
 */
#header h1 a {
	text-shadow: 0.0em 1px 0.0em #fff;	/* horiz offset, vert offset, blur, color */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
}
/*
 * Round off corners of navigation elements
 */
#header ul li:first-child a {
	-webkit-border-top-left-radius: 0.5em;
	-webkit-border-top-right-radius: 0.5em;
}
#header ul li:last-child a {
    -webkit-border-bottom-left-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
}
/*
 * Used to toggle display of menu
 */
#header ul.hide, #content div.hide  {
	display: none;
}
div#content {
	text-align:  left;
}
p {
	margin: 0.2em;
	padding: 0.2em;
}
ul {
	margin: 0.0em;
	padding: 0.0em;
}
li {
	margin: 0.1em 0.0em 0.1em 0.0em;
	padding: 0.1em 0.0em 0.1em 0.0em;
}
li ul {
	margin: 0.4em;
	padding: 0.4em;
}
.back-button {
	text-align: left; /* apparently we also need to use an inline style... */
}
a.ui-link:visited {
	color: black;
}
