/*
 * General site-wide styles for iPhones
 * Based on a style sheet from Chapter 2 of Building iPhone Apps by Jonathan Stark (O'Reilly)
 * This file is virtually identical to androidPhone.css, and that is OK.
 */
div#content {
	text-align:  left;
}
p {
	margin: 0.2em;
	padding: 0.2em;
}
ul {
	margin: 0.0em;
	padding: 0.0em;
}
li {
	margin: 0.1em 0.0em 0.1em 0.0em;
	padding: 0.1em 0.0em 0.1em 0.0em;
}
li ul {
	margin: 0.0em;
	padding: 0.0em;
}
.back-button {
	text-align: left; /* apparently we also need to use an inline style... */
}
a.ui-link:visited {
	color: black;
}
