/*
 * tablet.css: styles for tablets
 * Similar to desktop.css except margins and width are smaller and
 * font sizes are a little bit bigger
 */
body {
	background-color: #000000;   /* reverse */
	color:            #ffffff;   /* colors */
}
div#container {
	margin-top:    0.25in;
	margin-left:   0.50in;
	margin-right:  1.25in;
}
div#content {
	text-align:  left;
}
h1 {
	margin-top:    1.25em;
}
h2 {
	margin-top:    1.0em;
}
ul {
	margin-top: 0.5em;
	padding-top: 0.0em;
}
ul.job-experience,
ul.education {
	list-style-type: none;
}
a, li, p {
/*	font-size:   1.25em; */  /* doesn't work as hoped */
	font-size:   22px;
	margin-top:  0.5em;
	line-height: 1.75em;
}
a, a:link, a:hover, a:visited,
a.show-button, a.more-items-button, a.fewer-items-button, 
a.show-button:hover, a.more-items-button:hover, a.fewer-items-button:hover, 
a.show-button:visited, a.more-items-button:visited, a.fewer-items-button:visited {
	color: skyblue;      /* make links easier to see */
}
a.show-more-jobs-button {
	border-color: white;
	color: white;
}
